<div class="col-md-3 col-sm-6 col-xs-12" v-if="block1">
  <!-- small box -->
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3> [[ block1['data'] ]]<sup style="font-size: 20px">DH</sup></h3>

      <p>[[ block1['title'] ]]</p>
    </div>
    <div class="icon">
      <i class="fa fa-money"></i>
    </div>
    
  </div>
</div>
<!-- ./col -->
<div class="col-md-3 col-sm-6 col-xs-12" v-if="block2">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h3>[[ block2['data'] ]] <sup style="font-size: 20px">DH</sup></h3>

      <p>[[ block2['title'] ]]</p>
    </div>
    <div class="icon">
      <i class="fa fa-bank"></i>
    </div>
   
  </div>
</div>
<!-- ./col -->
<div class="col-md-3 col-sm-6 col-xs-12" v-if="block3">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>[[ block3['data'] ]] <sup style="font-size: 20px">DH</sup></h3>

      <p>[[ block3['title'] ]]</p>
    </div>
    <div class="icon">
      <i class="fa fa-money"></i>
    </div>
   
  </div>
</div>
<!-- ./col -->
<div class="col-md-3 col-sm-6 col-xs-12" v-if="block4">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h3>[[ block4['data'] ]] <sup style="font-size: 20px">DH</sup></h3>

      <p>[[ block4['title'] ]]</p>
    </div>
    <div class="icon">
      <i class="ion ion-pie-graph"></i>
    </div>
   
  </div>
</div>
<!-- ./col -->